#cartaRefPersonal {
	.container {
		width: 60%;
		height: 90%;
	}


	body {
		font-family: Arial, sans-serif;
		font-size: 14pt;
		line-height: 1.5;
		margin: 1in;		
	}

	.letter-header {
		font-size: 16pt;
		font-weight: bold;
		margin-bottom: 10pt;
	}

	.letter-body {
		margin-top: 20pt;
		margin-bottom: 20pt;
	}
	

}