<!DOCTYPE html>
<html lang="en" xmlsn:th="http://thymeLeaf.org">

<head th:insert="~{usuario/template_gallery.html::head}"></head>

<body>

	<div th:insert="~{usuario/template_gallery.html::header}"></div>

	<main id="main" class="main">
		<!-- ======= Hero Section ======= -->
		<section id="home" class="d-flex justify-content-center sectionXA">
			<div class="parent-container">
				<div class="container">
					<div class="box">
						<a th:href="@{/infoRefPersonal}">
						<img src="assets/img/cartas/refPersonal.png" class="img-fluid" alt="Carta de Ref Personal">
						<span class="title">Carta de Referencia Personal</span>
						</a>
					</div>
				</div>
				<div class="container">
					<div class="box">
						<a th:href="@{/infoCartaRenuncia}">
						<img src="assets/img/cartas/imgFS.PNG" class="img-fluid" alt="Carta de Renuncia">
						<span class="title">Carta de Renuncia</span>
						</a>
					</div>
				</div>
			</div>
		</section><!-- End Hero --><!-- End #main -->

		<div th:insert="~{usuario/template_gallery.html::footer}"></div>

		<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
				class="bi bi-arrow-up-short"></i></a>

		<div th:insert="~{usuario/template_gallery.html::js}"></div>

</body>

</html>