<!DOCTYPE html>
<html lang="en" xmlsn:th="http://thymeLeaf.org">

<head th:insert="~{usuario/template_gallery.html::head}"></head>

<body>

	<div th:insert="~{usuario/template_gallery.html::header}"></div>

	<main id="main" class="main">
		<!-- ======= Hero Section ======= -->
		<section id="home" class="d-flex justify-content-center">
			<div class="parent-container">
				<div class="container">
					<div class="box">
						<a th:href="@{/infoFE}">
							<!-- add the link URL and target attribute -->
							<img src="assets/img/imgFE.PNG" class="img-fluid" alt="formatoEstandar">
							<span class="title">Hoja de Vida Estandar</span>
						</a>
					</div>
				</div>
				<div class="container">
					<div class="box">
						<a th:href="@{/infoFS}">
							<img src="assets/img/imgFS.PNG" class="img-fluid" alt="formatoEstandar">
							<span class="title">Hoja de Vida SENA</span>
						</a>
					</div>
				</div>
			</div>
		</section><!-- End Hero -->

	</main><!-- End #main -->

	<div th:insert="~{usuario/template_gallery.html::footer}"></div>

	<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
			class="bi bi-arrow-up-short"></i></a>

	<div th:insert="~{usuario/template_gallery.html::js}"></div>

</body>

</html>