<!DOCTYPE html>
<html lang="en" xmlsn:th="http://thymeLeaf.org">

<head th:insert="~{usuario/template_gallery.html::head}"></head>

<body>

	<div th:insert="~{usuario/template_gallery.html::header}"></div>

	<section>
	</section>

	<main id="main" class="main">
		<section id="infoFS" class="d-flex">

			<div class="container container1" data-aos="fade-up">
				<div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
					<h2>HOJA DE VIDA FORMATO ESTANDAR</h2>
				</div>
			</div>
		</section><!-- End Hero -->
		<div class="container container1" data-aos="fade-up">
			<div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
				<div id="demo" class="carousel slide" data-bs-ride="carousel">

					<!-- Indicators/dots -->
					<div class="carousel-indicators">
						<button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
						<button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>

					</div>

					<!-- The slideshow/carousel -->
					<div class="carousel-inner">
						<div class="carousel-item active c2">
							<img src="assets/img/formatosHV/imgFE1.png" alt="Imagen1 FE" class="d-block w-100">
						</div>

						<div class="carousel-item c2">
							<img src="assets/img/formatosHV/imgFE2.png" alt="Imagen2 FE" class="d-block w-100">
						</div>
					</div>

					<!-- Left and right controls/icons -->
					<button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
						<span class="carousel-control-prev-icon"></span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
						<span class="carousel-control-next-icon"></span>
					</button>
				</div>
			</div>
		</div>

		<section>
			<!--informacion-->
			<div class="container" data-aos="zoom-in" style="text-align: center; max-width: 800px;">
				<p class="fst-italic" style="font-style: italic; color: rgb(0, 0, 0);">
					Con nuestro formato de hoja de vida estandar, buscamos apoyar a los trabajadores para que puedan
					tener una guia sobre los datos que necesitan agregar a la hora de buscar un trabajo.
				</p>
				<p class="fst-italic" style="font-style: italic; color: rgb(0, 0, 0);">
					El usuario podrá organizar su informació de manera organizada y sencilla. Funciona para cualquier
					empresa que se necesite, ya que no tiene ninguna exigencia especifica.
				</p>
				<br><br>
				<p class="fst-italic" style="color: rgb(0, 0, 0);">
					© 2024 Todos los Derechos Reservados
				</p>
				<br>
			</div>
		</section>
	</main><!-- End #main -->

	<div th:insert="~{usuario/template_gallery.html::footer}"></div>

	<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
			class="bi bi-arrow-up-short"></i></a>

	<div th:insert="~{usuario/template_gallery.html::js}"></div>

</body>

</html>