<!DOCTYPE html>
<html lang="en" xmlsn:th="http://thymeLeaf.org">

<head th:fragment="head">
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">

	<title>OktoDesigns</title>
	<meta content="" name="description">
	<meta content="" name="keywords">

	<!-- Favicons -->
	<link th:href="@{assets/img/favicon.png}" rel="icon">
	<link th:href="@{assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

	<!-- Google Fonts -->
	<link
		href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
		rel="stylesheet">

	<!-- Vendor CSS Files -->
	<link th:href="@{assets/vendor/aos/aos.css}" rel="stylesheet">
	<link th:href="@{assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
	<link th:href="@{assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
	<link th:href="@{assets/vendor/glightbox/css/glightbox.min.css}" rel="stylesheet">
	<link th:href="@{assets/vendor/remixicon/remixicon.css}" rel="stylesheet">
	<link th:href="@{assets/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">

	<!-- Template Main CSS File -->
	<link th:href="@{assets/css/style.css}" rel="stylesheet">

	<!-- =======================================================
  * Template Name: Gp
  * Updated: Mar 13 2024 with Bootstrap v5.3.3
  * Template URL: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

	<div th:fragment="header">
		<!-- ======= Header ======= -->
		<header id="header" class="fixed-top ">
			<div class="container d-flex align-items-center justify-content-lg-between">

				<h1 class="logo me-auto me-lg-0"><a href="index.html">
						<img th:src="@{/assets/img/logo.jpg}">
					</a></h1>
				<h5 class="titulonav">OktoDesings</h5>
				<!-- Uncomment below if you prefer to use an image logo -->
				<!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

				<nav id="navbar" class="navbar order-last order-lg-0 titulos">
					<ul>
						<li><a class="nav-link scrollto active" href="#home">Home</a></li>
						<li><a class="nav-link scrollto" href="#acerca">Acerca de...</a></li>
						<li><a class="nav-link scrollto" href="#somos">¿Quiénes Somos?</a></li>
						<li><a class="nav-link scrollto " href="#team">Team</a></li>
						<li><a class="nav-link scrollto" href="#contactanos">Contactanos</a></li>
					</ul>
					</li>
					<i class="bi bi-list mobile-nav-toggle"></i>
				</nav><!-- .navbar -->

				<a href="#" class="get-started-btn scrollto titulos">Iniciar Sesión</a>
				<a href="#" class="get-started-btn scrollto titulos">Registrarse</a>

			</div>
		</header><!-- End Header -->


		<!-- ======= Hero Section ======= -->
		<section id="home" class="d-flex align-items-center justify-content-center">
			<div class="container" data-aos="fade-up">

				<div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
					<div class="col-xl-6 col-lg-8">
						<h1>Powerful Digital Solutions With Gp<span>.</span></h1>
						<h2>We are team of talented digital marketers</h2>
					</div>
				</div>

				<div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
					<div class="col-xl-2 col-md-4">
						<div class="icon-box">
							<i class="ri-store-line"></i>
							<h3><a href="">Hojas de vida</a></h3>
						</div>
					</div>
					<div class="col-xl-2 col-md-4">
						<div class="icon-box">
							<i class="ri-bar-chart-box-line"></i>
							<h3><a href="">Formatos de la Registraduría</a></h3>
						</div>
					</div>
					<div class="col-xl-2 col-md-4">
						<div class="icon-box">
							<i class="ri-calendar-todo-line"></i>
							<h3><a href="">Formatos de Matriculas en los Colegios</a></h3>
						</div>
					</div>
					<div class="col-xl-2 col-md-4">
						<div class="icon-box">
							<i class="ri-paint-brush-line"></i>
							<h3><a href="">Formatos de Inscripción para las Universidades</a></h3>
						</div>
					</div>
				</div>

			</div>
		</section><!-- End Hero -->

		<main id="main">

			<!-- ======= About Section ======= -->
			<section id="acerca" class="acerca">
				<div class="container" data-aos="fade-up">

					<div class="row">
						<div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
							<img src="assets/img/foto1.png" class="img-fluid" alt="">
						</div>
						<div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right"
							data-aos-delay="100">
							<br><br><br><br><br><br><br>
							<h3>Usa Nuestras Plantillas</h3>
							<p class="fst-italic">
								Puedes usar nuestras plantillas para generar
								tu hoja de vida en el formato que requieras.
							</p>

							<h3>¡Descargalas como PDF!</h3>
							<p class="fst-italic">
								Descarga tu hoja de vida como PDF para que puedas
								imprimirla o compartirla con nosotros.
							</p>
						</div>
					</div>
					<br>
					<div
						style="display: flex; flex-direction: column; align-items: center; text-align: center; padding: 20px; border: 1px solid transparent; border-radius: 5px; background-color: transparent;">
						<h3>Con Nosotros Puedes Compartir Tus Hojas de Vida</h3>
						<p class="fst-italic">
							Te porporcionamos nuestro correo OktoDesigns@gmail.com para que puedas compartir tus hojas
							de vida al destinatario deseado.
						</p>
					</div>
				</div>
			</section><!-- End About Section -->

			<!-- ======= Clients Section ======= -->
			<section id="somos" class="somos">
				<div class="container" data-aos="zoom-in" style="text-align: center; margin-top: 5rem;">
					<p class="fst-italic"
						style="font-style: italic; font-size: 1.1rem; line-height: 1.5; color: rgb(255, 255, 255);">
						¡Saludos! Somos un entusiasta grupo de tres estudiantes dedicados a hacer que tu experiencia en
						OktoDesigns sea excepcional. OktoDesigns es más que una simple página web; es un recurso
						diseñado
						para simplificar y mejorar tu vida diaria.
					</p>
					<p class="fst-italic"
						style="font-style: italic; font-size: 1.1rem; line-height: 1.5; color: rgb(255, 255, 255);">
						Cada miembro de nuestro equipo aporta habilidades únicas y una pasión compartida por la
						innovación. Estamos comprometidos a ofrecerte contenido valioso, funciones intuitivas y un
						diseño atractivo que se adapte a tus necesidades.
					</p>
					<p class="fst-italic"
						style="font-style: italic; font-size: 1.1rem; line-height: 1.5; color: rgb(255, 255, 255);">
						¿Tienes preguntas, sugerencias o simplemente deseas ponerte en contacto con nosotros? No dudes
						en
						escribirnos a nuestro correo electrónico
					</p>
					<p class="fst-italic"
						style="font-style: italic; font-size: 1.1rem; line-height: 1.5; color: rgb(255, 255, 255);">
						Estamos aquí para escucharte y mejorar continuamente OktoDesigns para que sea una herramienta
						útil y valiosa para ti. ¡Gracias por ser parte de nuestra comunidad!
					</p>
				</div>
			</section><!-- End Clients Section -->

			<!-- ======= Team Section ======= -->
			<section id="team" class="team">
				<div class="container" data-aos="fade-up">

					<div class="section-title">
						<h2>Team</h2>
						<p>Check our Team</p>
					</div>

					<div class="row" style="display: flex; justify-content: center;">

						<div class="col-lg-3 col-md-6 d-flex align-items-stretch">
							<div class="member" data-aos="fade-up" data-aos-delay="100">
								<div class="member-img">
									<img src="assets/img/team/Aaron.jpg" class="img-fluid" alt="">
									<div class="social">
										<a href=""><i class="bi bi-twitter"></i></a>
										<a href=""><i class="bi bi-facebook"></i></a>
										<a href=""><i class="bi bi-instagram"></i></a>
										<a href=""><i class="bi bi-linkedin"></i></a>
									</div>
								</div>
								<div class="member-info">
									<h4>Aaron David Ochoa Hinestroza</h4>
									<span>Integrante</span>
								</div>
							</div>
						</div>

						<div class="col-lg-3 col-md-6 d-flex align-items-stretch">
							<div class="member" data-aos="fade-up" data-aos-delay="200">
								<div class="member-img">
									<img src="assets/img/team/Ginna.jpg" class="img-fluid" alt="">
									<div class="social">
										<a href=""><i class="bi bi-twitter"></i></a>
										<a href=""><i class="bi bi-facebook"></i></a>
										<a href=""><i class="bi bi-instagram"></i></a>
										<a href=""><i class="bi bi-linkedin"></i></a>
									</div>
								</div>
								<div class="member-info">
									<h4>Ginna Lizeth Vargas Estupiñán</h4>
									<span>Product Owner</span>
								</div>
							</div>
						</div>

						<div class="col-lg-3 col-md-6 d-flex align-items-stretch">
							<div class="member" data-aos="fade-up" data-aos-delay="300">
								<div class="member-img">
									<img src="assets/img/team/PulpoD.jpg" class="img-fluid" alt="">
									<div class="social">
										<a href=""><i class="bi bi-twitter"></i></a>
										<a href=""><i class="bi bi-facebook"></i></a>
										<a href=""><i class="bi bi-instagram"></i></a>
										<a href=""><i class="bi bi-linkedin"></i></a>
									</div>
								</div>
								<div class="member-info">
									<h4>Samuel Antonio Muñoz Romero</h4>
									<span>Integrante</span>
								</div>
							</div>
						</div>

					</div>

				</div>
			</section><!-- End Team Section -->

			<!-- ======= Contact Section ======= -->
			<section id="contactanos" class="contact">
				<div class="container" data-aos="fade-up">

					<div class="section-title">
						<h2>Contact</h2>
						<p>Contact Us</p>
					</div>

					<div
						style="display: flex; justify-content: center; align-items: center; height: 450px; width: 1000px; margin: 0 auto;">
						<iframe
							src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15877.51865047878!2d-73.07044574510498!3d5.801934568806452!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e6a406d2162f375%3A0xfe568617cd9e1d0f!2sSENA!5e0!3m2!1ses!2sco!4v1711978726152!5m2!1ses!2sco"
							width="1000" height="450" style="border:0;" allowfullscreen loading="lazy"
							referrerpolicy="no-referrer-when-downgrade"></iframe>
					</div>

					<div class="row mt-5">
						<div class="col-lg-4">
							<div class="info">
								<i class="bi bi-geo-alt"></i>
								<h4>Ubicación:</h4>
								<p>Centro Industrial de Mantenimiento y Manufactura</p>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="info">
								<i class="bi bi-envelope"></i>
								<h4>Email:</h4>
								<p>OktoDesigns@gmail.com</p>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="info">
								<i class="bi bi-phone"></i>
								<h4>Llamanos:</h4>
								<p>+57 3124836422</p>
							</div>
						</div>
					</div>
				</div>
			</section><!-- End Contact Section -->

		</main><!-- End #main -->
	</div>

	<div th:fragment="footer">
		<!-- ======= Footer ======= -->
		<footer id="footer">
			<div class="footer-top">
				<div class="container">
					<div class="row">

						<div class="col-lg-3 col-md-6">
							<div class="footer-info">
								<h3><img th:src="@{/assets/img/logo.jpg}" style="width:50%; height:auto;"></h3>
								<p>
									OktoDesigns <br>
									Centro CIMM<br><br>
									<strong>Télefono: </strong>+57 3124836422<br>
									<strong>Email: </strong>oktodesigns@gmail.com<br>
								</p>
							</div>
						</div>

						<div class="col-lg-2 col-md-6 footer-links">
							<h4>Links Página</h4>
							<ul>
								<li><i class="bx bx-chevron-right"></i> <a href="#home">Home</a></li>
								<li><i class="bx bx-chevron-right"></i> <a href="#acerca">Acerca de...</a></li>
								<li><i class="bx bx-chevron-right"></i> <a href="#somos">¿Quiénes Somos?</a></li>
								<li><i class="bx bx-chevron-right"></i> <a href="#team">Team</a></li>
								<li><i class="bx bx-chevron-right"></i> <a href="#contactanos">Contactanos</a></li>
							</ul>
						</div>

						<div class="col-lg-3 col-md-6 footer-links">

						</div>

						<div class="col-lg-4 col-md-6 footer-newsletter">
							<h4>Unete y usa OktoDesigns</h4>
							<p>Empieza a usar las plantillas y diferentes diseños que te ofrecemos</p>
							<form action="" method="post">
								<input type="email" name="email"><input type="submit" value="Registrarse">
							</form>

						</div>

					</div>
				</div>
			</div>

			<div class="container">
				<div class="copyright">
					&copy; Copyright <strong><span>Gp</span></strong>. All Rights Reserved
				</div>
				<div class="credits">
					<!-- All the links in the footer should remain intact. -->
					<!-- You can delete the links only if you purchased the pro version. -->
					<!-- Licensing information: https://bootstrapmade.com/license/ -->
					<!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/ -->
					Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
				</div>
			</div>
		</footer><!-- End Footer -->
	</div>

	<div id="preloader"></div>
	<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
			class="bi bi-arrow-up-short"></i></a>


	<div th:fragment="js">
		<!-- Vendor JS Files -->
		<script th:src="@{assets/vendor/purecounter/purecounter_vanilla.js}"></script>
		<script th:src="@{assets/vendor/aos/aos.js}"></script>
		<script th:src="@{assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
		<script th:src="@{assets/vendor/glightbox/js/glightbox.min.js}"></script>
		<script th:src="@{assets/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
		<script th:src="@{assets/vendor/swiper/swiper-bundle.min.js}"></script>
		<script th:src="@{assets/vendor/php-email-form/validate.js}"></script>

		<!-- Template Main JS File -->
		<script th:src="@{assets/js/main.js}"></script>
	</div>

</body>

</html>