<!DOCTYPE html>
<html lang="en" xmlsn:th="http://thymeLeaf.org">

<div th:insert="~{galeria/template_gallery.html::head}"></div>

<body>

	<div th:insert="~{galeria/template_gallery.html::header}"></div>

	<main id="main" class="main">


	</main><!-- End #main -->

	<div th:insert="~{galeria/template_gallery.html::footer}"></div>

	<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
			class="bi bi-arrow-up-short"></i></a>

	<div th:insert="~{galeria/template_gallery.html::js}"></div>

</body>

</html>