<!DOCTYPE html>
<html lang="en" xmlsn:th="http://thymeLeaf.org">

<head th:fragment="head">
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">

	<title>OktoDesigns</title>
	<meta content="" name="description">
	<meta content="" name="keywords">

	<!-- Favicons -->
	<link th:href="@{/assets/img/favicon.png}" rel="icon">
	<link th:href="@{/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

	<!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Amatic+SC:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
		rel="stylesheet">

	<!-- Vendor CSS Files -->
	<link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
	<link th:href="@{/assets/vendor/aos/aos.css}" rel="stylesheet">
	<link th:href="@{/assets/vendor/glightbox/css/glightbox.min.css}" rel="stylesheet">
	<link th:href="@{/assets/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">

	<!-- Template Main CSS File -->
	<link th:href="@{/assets/css/main.css}" rel="stylesheet">
	<link th:href="@{/assets/css/style.css}" rel="stylesheet">
	<link th:href="@{/assets/css/cartaRefPersonal.css}" rel="stylesheet">

	<!-- =======================================================
  * Template Name: Yummy
  * Updated: Jan 30 2024 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/yummy-bootstrap-restaurant-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->

</head>

<body>

	<div th:insert="~{administrador/template_admin.html::header}"></div>

	<section></section>

	<main id="main" class="main">

		<!-- ======= Menu Section ======= -->
		<section id="menu" class="menu">
			<div class="row col-md-3 offset-md-1">
				<a th:href="@{/admin}">
					<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="black"
						class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
						<path
							d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1.708.708L5.707 7.5z" />
					</svg>
				</a>
			</div>

			<br><br>

			<form id="cartaRefPersonal" class="aggCartaRefPersonal">
				<div class="container" style="background-color: rgb(255, 255, 255); border: 1px solid rgb(0, 0, 0);">
					<div class="row">
						<div class="col-md-11" style="margin:auto">

							<br><br><br><br>

							<tr>
								<td class="input-cell">
									<label>
										<input type="text" class="form-control" id="ciudad1" placeholder="Ciudad"
											name="ciudad1" style="width: 120px;" required>
										</imput>
									</label>
									<span class="comma">,</span>
									<label>
										<input type="text" class="form-control" id="fecha" placeholder="Fecha"
											name="fecha" style="width: 320px;" required>
										</imput>
									</label>
								</td>
							</tr>

							<br><br><br><br><br><br><br>

							<div class="title letter-header" style="text-align: center;">REFERENCIA PERSONAL</div>

							<div class="letter-body">
								<br><br>
								<p>Yo
									<label><input type="text" class="form-control" id="nombre1"
											placeholder="Ingrese su nombre" name="nombre1" style="width: 350px;"
											required>
										</imput></label>

									identificado(a) con cédula de ciudadanía No.

									<label><input type="text" class="form-control" id="cedula1"
											placeholder="Ingrese su cédula" name="cedula1" style="width: 200px;"
											required>
										</imput></label>

									de

									<label><input type="text" class="form-control" id="expedicion1"
											placeholder="Lugar expedición" name="expedicion1" style="width: 200px;"
											required>
										</imput></label>

									, hago constar que conozco al señor(a)

									<label><input type="text" class="form-control" id="nombre2"
											placeholder="Ingrese el nombre" name="nombre2" style="width: 350px;"
											required>
										</imput></label>

									identificado(a) con cédula de ciudadanía No.

									<label><input type="text" class="form-control" id="cedula2"
											placeholder="Ingrese la cédula" name="cedula2" style="width: 200px;"
											required>
										</imput></label>

									de

									<label><input type="text" class="form-control" id="expedicion2"
											placeholder="Lugar expedición" name="expedicion2" style="width: 200px;"
											required>
										</imput></label>

									,
									desde hace

									<label><input type="text" class="form-control" id="tiempo"
											placeholder="Tiempo de conocer" name="tiempo" style="width: 200px;"
											required>
										</imput></label>

									, en los cuales doy fe que es una persona honesta,
									respetuosa, eficiente, responsable, puntual y en general cumplidora con todos los
									deberes encomendados.
								</p>
								<br><br><br><br><br><br>
								<p>Atentamente,</p>
							</div>
							<br><br><br><br>


							<div class="grid-container">
								<div class="image-preview">
									<img src="" alt="Vista Previa">									
								</div>
								<div>
									<input type="file" id="image-input" accept="image/*">
									<label for="image-input"></label>
								</div>
							</div>


							<p><div class="line"></div><!--cambiar para firma-->
								<label><input type="text" class="form-control" id="nombre3"
										placeholder="Ingrese su nombre" name="nombre3" style="width: 350px;" required>
									</imput></label>
							</p>
							<p>C.C. <label><input type="text" class="form-control" id="cedula3"
										placeholder="Ingrese su cédula" name="cedula3" style="width: 200px;" required>
									</imput></label>
								<br>
								Tel.<label><input type="text" class="form-control" id="telefono3"
										placeholder="Ingrese su télefono" name="telefono3" style="width: 200px;"
										required>
									</imput></label>
							</p>
							<br><br><br><br>
						</div>
					</div>
				</div>
			</form>

			<!-- SECCION DE IMPRIMIR Y PDF (Falta agregar)-->

		</section><!-- End Menu Section -->

	</main><!-- End #main -->

	<div th:insert="~{administrador/template_admin.html::footer}"></div>

	<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
			class="bi bi-arrow-up-short"></i></a>

	<div th:insert="~{administrador/template_admin.html::scripts_js}"></div>
	<script th:src="@{/assets/js/firma.js}"></script>

</body>

</html>