<head th:insert="~{administrador/template_admin.html::head}"></head>

<div th:insert="~{administrador/template_admin.html::header}"></div>

<section class="sectionXA"></section>

<main class="renunce">

	<section class="sectionXA">
		<div class="row col-md-3 offset-md-1 btnback">
			<a th:href="@{/admin}">
				<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="black"
					class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
					<path
						d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1.708.708L5.707 7.5z" />
				</svg>
			</a>
		</div>

		<form th:action="@{/cartaRenuncia/update}" method="POST" id="cartaRenuncia">
			<input type="hidden" name="id" th:value="${cartaRenuncia.id}">
			<div class="container flex d-flex renunceContainer-Styles">
				<div>
					<h1 class="title-Styles">Carta de Renuncia</h1>
					<h6 class="h6RenunceLetter-Styles">Ingrese su Nombre:</h6>
					<input class="RenunceLetterName-Styles" type="text" name="letterName" id="letterName" th:value="${cartaRenuncia.letterName}">
					<h3 class="h6RenunceLetter-Styles">Carta de Renuncia</h3>
					<br><br><br>
					<h6 class="h6RenunceLetter-Styles">Ingrese el nombre de la persona a la que va dirijida la carta:
					</h6>
					<input class="RenunceLetterNameBoss-Styles" type="text" name="nameBoss" id="nameBoss" th:value="${cartaRenuncia.nameBoss}">
					<h6 class="h6RenunceLetter-Styles">Ingrese el cargo de la persona a la que va dirijida la carta:
					</h6>
					<input class="RenunceLetterBoss-Styles" type="text" name="cargueBoss" id="cargueBoss" th:value="${cartaRenuncia.cargueBoss}">
					<h6 class="h6RenunceLetter-Styles">Ingrese el nombre de la empresa a la que va dirijida la carta:
					</h6>
					<input class="RenunceLetterBoss-Styles" type="text" name="companyBoss" id="companyBoss" th:value="${cartaRenuncia.companyBoss}">
					<h6 class="h6RenunceLetter-Styles">Ingrese la direccion de la empresa a la que va dirijida la carta:
					</h6>
					<input class="RenunceLetterBoss-Styles" type="text" name="companyAddress" id="companyAddress" th:value="${cartaRenuncia.companyAddress}">
					<h6 class="h6RenunceLetter-Styles">Ingrese el numero telefonico de la persona a la que va dirijida
						la
						carta:
					</h6>
					<input class="RenunceLetterBoss-Styles" type="number" name="numberBoss" id="numberBoss" th:value="${cartaRenuncia.numberBoss}">

					<div style="margin: 40px;">

						<P>Señor(@)</P>

						<input class="RenunceLetterBoss-Subtitle-Styles" type="text" name="destinatary" id="destinatary"
							placeholder="DestinatarioS" th:value="${cartaRenuncia.destinatary}">

						<p>
							Le solicito amablemente acepte mi renuncia formal como miembro del personal de <input
								class="RenunceLetterBoss-Subtitle-Styles" type="text" name="company" id="company"
								placeholder="Empresa" th:value="${cartaRenuncia.company}"> Mi último día
							laboral será el <input class="RenunceLetterBoss-Subtitle-Styles" type="text"
								name="renunceDate" id="renunceDate" placeholder="fecha de renuncia" th:value="${cartaRenuncia.renunceDate}">, dentro de <input
								class="RenunceLetterBoss-Subtitle-Styles" type="text" name="weeks" id="weeks"
								placeholder="Semanas" th:value="${cartaRenuncia.weeks}"> semanas, a partir de hoy.
						</p>

						<p>
							Estoy muy agradecido(@) por las oportunidades que se me brindaron en este puesto. Valoro los conocimientos
							que
							aprendí y
							espero contar con ellos en mis tareas futuras. También me gustaría agradecerles por apoyar
							mi
							crecimiento
							profesional. Disfruté mi tiempo de trabajo en la empresa con ustedes y con el resto del
							equipo.
						</p>

						<p>

							Quedo a disposición para ayudar a que la transición de responsabilidades sea lo más ordenada
							posible para
							todos los involucrados. Gracias.
						</p>

						<br>

						<p>Saludos cordiales.</p>


						<div class=""></div><!--cambiar para firma-->

						<input type="text" class="RenunceLetterBoss-Styles" id="yourName"
							placeholder="Ingrese su nombre" name="yourName" required th:value="${cartaRenuncia.yourName}">

						<input type="text" class="RenunceLetterBoss-Styles" id="yourId" placeholder="Ingrese su cédula"
							name="yourId" required th:value="${cartaRenuncia.yourId}">

						<input type="number" class="RenunceLetterBoss-Styles" id="yourPhone"
							placeholder="Ingrese su télefono" name="yourPhone" required th:value="${cartaRenuncia.yourPhone}">

					</div>


					<div class="d-flex justify-content-center my-4">
						<button type="button" class="btn btn-danger mx-2" onclick="imprimir()">Descargar
							<i class="bi bi-filetype-pdf"></i></button>
							<script>
							function imprimir() {
								window.print();
							}
						</script>
						<button type="submit" class="btn btn-info mx-2">Enviar
							<i class="bi bi-send-plus"></i></button>
					</div>

				</div>
			</div>
		</form>
	</section><!-- End Contact Section -->
</main>

<section class="sectionXA"></section>

<div th:insert="~{administrador/template_admin.html::footer}"></div>

<div th:insert="~{administrador/template_admin.html::scripts_js}"></div>