<head th:insert="~{administrador/template_admin.html::head}"></head>

<div th:insert="~{administrador/template_admin.html::header}"></div>

<section></section>

  <main>
    <h1 class="flex d-flex justify-content-center">OktoMail</h1>
      <h4 class="move-Right">Aquí puedes enviar tus formatos a quien necesites, usando nuestro Mail</h4>
    <section id="contact" class="contact">
      <div class="container flex d-flex justify-content-center align-items-center">
        <form method="post" role="form" class="php-email-form">
          <div class="row">
            <h6>Destinatario:</h6>
            <div class="col-md-6 form-group">
              <input type="text" name="name" class="form-control" id="name" placeholder="Ingresa el destinatario al que le quieras enviar el correo" required>
            </div>
          </div>
          <div class="form-group mt-3">
            <h6>Asunto:</h6>
            <input type="text" class="form-control" name="subject" id="subject" placeholder="Ingrese el asunto del correo" required>
          </div>
          <div class="form-group mt-3">
            <h6>Contenido:</h6>
            <textarea class="form-control" name="message" rows="5" placeholder="Ingrese el contenido del correo" required></textarea>
          </div>
          <div class="text-center"><button type="submit">Enviar</button></div>
        </form>
      </div>
    </section><!-- End Contact Section -->
  </main>

  <div th:insert="~{administrador/template_admin.html::footer}"></div>

  <div th:insert="~{administrador/template_admin.html::scripts_js}"></div>