<head th:fragment="head">
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">

	<title>OktoDesigns</title>
	<meta content="" name="description">
	<meta content="" name="keywords">

	<!-- Favicons -->
	<link th:href="@{/assetsADMIN/img/favicon.png}" rel="icon">
	<link th:href="@{/assetsADMIN/img/apple-touch-icon.png}" rel="apple-touch-icon">

	<!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Amatic+SC:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
		rel="stylesheet">

	<!-- Vendor CSS Files -->
	<link th:href="@{/assetsADMIN/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{/assetsADMIN/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
	<link th:href="@{/assetsADMIN/vendor/aos/aos.css}" rel="stylesheet">
	<link th:href="@{/assetsADMIN/vendor/glightbox/css/glightbox.min.css}" rel="stylesheet">
	<link th:href="@{/assetsADMIN/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">

	<!-- Template Main CSS File -->
	<link th:href="@{/assetsADMIN/css/main.css}" rel="stylesheet">
	<link th:href="@{/assetsADMIN/css/formatoSena.css}" rel="stylesheet">

	<!-- =======================================================
  * Template Name: Yummy
  * Updated: Jan 30 2024 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/yummy-bootstrap-restaurant-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->


	<!-- BOTCITO KOKO -->
	<script src="https://cdn.botpress.cloud/webchat/v1/inject.js"></script>
	<script>
		window.addEventListener('DOMContentLoaded', (event) => {
			var currentURL = 'http://localhost:8080/administrador/formatoSena'; // Cambia esta URL por la deseada
			var botpressWebChatConfig = {
				"composerPlaceholder": "Chat with Okti",
				"botConversationDescription": "Soy Okti, espero poder ayudarte en tu estancia",
				"botId": "a8ef7b89-d65f-48c1-ac21-097a9a9fbe2a",
				"hostUrl": "https://cdn.botpress.cloud/webchat/v1",
				"messagingUrl": "https://messaging.botpress.cloud",
				"clientId": "a8ef7b89-d65f-48c1-ac21-097a9a9fbe2a",
				"webhookId": "6e424e6d-5f6a-4d86-8a52-451ec8ae66be",
				"lazySocket": true,
				"themeName": "prism",
				"botName": "Okti",
				"phoneNumber": "3124836422",
				"emailAddress": "OktoDesigns@gmail.com",
				"frontendVersion": "v1",
				"useSessionStorage": true,
				"enableConversationDeletion": true,
				"theme": "prism",
				"themeColor": "#7F2AA7"
			};

			if (window.location.href.includes(currentURL)) {
				window.botpressWebChat.init(botpressWebChatConfig);
			}
		});
	</script>

</head>

<body>

	<div th:fragment="header">
		<!-- ======= Header ======= -->
		<header id="header" class="header fixed-top d-flex align-items-center">
			<div class="container d-flex align-items-center justify-content-between">

				<div class="d-flex align-items-center justify-content-between">
					<a th:href="@{/administrador}" class="logo d-flex align-items-center">
						<img th:src="@{/assetsADMIN/img/logo.png}">
						<span class="d-none d-lg-block">OktoDesigns</span>
					</a>
				</div><!-- End Logo -->

				<nav id="navbar" class="navbar">
					<ul>

						<li class="dropdown"><a th:href="@{/administrador}" href="#menu">Inicio</a></span></i></a>
							<ul>
								<li><a href="#menu">Plantillas</a></li>
								<li><a href="#gallery">Referencias</a></li>
							</ul>

					</ul>
				</nav><!-- .navbar -->

				<a class="btn-book-a-table" th:href="@{/administrador/email}">Enviar Email</a>
				<a class="btn-book-a-table" href="#">Cerrar Sesión</a>
				<a class="btn-book-a-table" href="#">
					<i class="bi bi-person-square"></i>
				</a>
				<i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
				<i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

			</div>
		</header><!-- End Header -->

	</div>

	<!-- ======= Hero Section ======= -->
	<section id="sectionH" class="hero d-flex align-items-center">
	</section><!-- End Hero Section -->

	<main id="main">

		<div class="row col-md-3 offset-md-1">
			<a href="#">
				<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
					class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
					<path
						d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1.708.708L5.707 7.5z" />
				</svg>
			</a>
		</div>

		<div id=formatoSenaCss>
			<div class="container" style="background-color: white;">
				<div class="row">
					<div class="col-md-11" style="margin:auto">
						<br><br>
						<form id="aggFormatoSena">
							<div class="section-content">
								<table class="data-table">
									<tr>
										<th colspan="10">
											<div class="title h4">HOJA DE VIDA APRENDICES EN PROGRAMAS DE FORMACIÓN
												TITULADA
											</div>
											<h6>F04-9124-002/ 06-10</h6>
											<h6>Ejecución de la Formación Profesional</h6>
											<h6>Desarrollo Curricular</h6>
										</th>
										<td>
											<center>
												<img th:src="@{/assetsADMIN/img/sena.jpg}" alt="Logo SENA"
													style="width: 150px; height: 150px;">
											</center>
										</td>
									</tr>

								</table>
							</div>

							<br><br><br>

							<div class="section">
								<div class="bubble-number h2 text-white">1</div>
								<div class="section-title h4 bubble text-white">INFORMACIÓN GENERAL DEL APRENDÍZ
								</div>
								<h6>Informacion personal del aprendíz. Usted como empleador podra solicitar
									aplicacion de esta.
								</h6>
								<div class="section-content">
									<table class="data-table">

										<tr>
											<th>NOMBRES Y APELLIDOS</th>
											<td class="input-cell" colspan="10">
												<div class="inputboxfs">
													<input type="text" class="form-control" id="nombres_apellidos"
														name="nombres_apellidos" required>
													</imput>
												</div>
											</td>
										</tr>

										<tr>
											<th>DOCUMENTO DE IDENTIDAD</th>
											<td class="input-cell" colspan="10">
												<div class="inputboxfs">
													<input type="text" class="form-control" id="documento"
														name="documento" required>
												</div>
											</td>
										</tr>

										<tr>
											<th>FECHA DE NACIMIENTO</th>
											<td class="input-cell" colspan="7">
												<div class="inputboxfs">
													<input type="date" class="form-control" id="fecha_nacimiento"
														name="fecha_nacimiento" required>
												</div>
											</td>

											<th>EDAD</th>
											<td class="input-cell" colspan="3">
												<div class="inputboxfs">
													<input type="number" class="form-control" id="edad" name="edad"
														required>
												</div>
											</td>
										</tr>

										<tr>
											<th>TELEFONO</th>
											<td class="input-cell" colspan="10">
												<div class="inputboxfs">
													<input type="number" class="form-control" id="telefono_aprendiz"
														name="telefono_aprendiz" required>
												</div>
											</td>
										</tr>

										<tr>
											<th>CORREO ELECTRONICO MISENA</th>
											<td class="input-cell" colspan="10">
												<div class="inputboxfs">
													<input type="email" class="form-control" id="email_misena"
														name="email_misena" required>
												</div>
											</td>
										</tr>

										<tr>
											<th>LIBRETA MILITAR</th>
											<td class="input-cell" colspan="10">
												<div class="inputboxfs">
													<input type="text" class="form-control" id="libreta_militar"
														name="libreta_militar">
												</div>
											</td>
										</tr>

										<tr>
											<th>DIRECCIÓN DOMICILIO</th>
											<td class="input-cell" colspan="10">
												<div class="inputboxfs">
													<input type="point" class="form-control" id="direccion"
														name="direccion" required>
												</div>
											</td>
										</tr>

										<tr>
											<th>ESTRATO</th>
											<td colspan="10">
												<select id="estrato" name="estrato"
													class="form-control-select inputboxfs opciones" required>
													<option value="">Seleccione una opción</option>
													<option value="1">Estrato 1</option>
													<option value="2">Estrato 2</option>
													<option value="3">Estrato 3</option>
													<option value="4">Estrato 4</option>
													<option value="5">Estrato 5</option>
													<option value="6">Estrato 6</option>
												</select>
											</td>
										</tr>

										<tr>
											<th>CIUDAD</th>
											<td colspan="10">
												<div class="inputboxfs">
													<input type="point" class="form-control" id="ciudad" name="ciudad"
														required>
												</div>
											</td>
										</tr>

									</table>
								</div>

								<br><br><br>

								<div class="section">
									<div class="bubble-number h2 text-white">2</div>
									<div class="section-title h4 bubble text-white">FORMACIÓN ACADÉMICA</div>
									<h6>Digita la información referente al titulo obtenido en el grado 11
										que corresponde a la educación media</h6>
									<div class="section-content">
										<table class="data-table" style="border-color: black;">

											<tr>
												<th>TÍTULO OBTENIDO</th>
												<td class="input-cell" colspan="10">
													<div class="inputboxfs">
														<input type="text" class="form-control" id="titulo_obtenido"
															name="titulo_obtenido" required>
													</div>
												</td>
											</tr>

											<tr>
												<th>INSTITUCIÓN EDUCATIVA</th>
												<td class="input-cell" colspan="10">
													<div class="inputboxfs">
														<input type="text" class="form-control"
															id="institucion_educativa" name="institucion_educativa"
															required>
													</div>
												</td>
											</tr>

											<tr>
												<th>FECHA GRADO</th>
												<td class="input-cell" colspan="10">
													<div class="inputboxfs">
														<input type="date" class="form-control" id="fecha_grado"
															name="fecha_grado" required>
													</div>
												</td>
											</tr>
										</table>
									</div>
								</div>

								<br><br>


								<h6>Si usted ha realizado estudios de nivel superior como Técnico TC, Tecnólogo TL,
									Especialización Tecnológica TE, Universitaria UN, Especialización ES, Maestría
									MG,
									Doctorado DOC, relaciónelos a continuación.
								</h6>
								<div class="section-content">
									<table class="data-table" style="border-color: black;">

										<tr>
											<th>NIVEL</th>
											<td colspan="10">
												<select id="nivel" name="nivel"
													class="form-control-select inputboxfs opciones required">
													<option value="">Seleccione una opción:</option>
													<option value="1">TC: Técnico</option>
													<option value="2">TL: Tecnélogo</option>
													<option value="3">TE: Especialización Tecnológica</option>
													<option value="4">UN: Universitaria</option>
													<option value="5">ES: Especialización</option>
													<option value="6">MG: Maestría</option>
													<option value="7">DOC: Doctorado</option>
													<option value="8">NO APLICA</option>
												</select>
											</td>
										</tr>

										<tr>
											<th>NOMBRE DE LOS ESTUDIOS</th>
											<td class="input-cell" colspan="10">
												<div class="inputboxfs">
													<input type="text" class="form-control" id="nombre_estudios"
														name="nombre_estudios">
												</div>
											</td>
										</tr>

										<tr>
											<th>INSTITUCIÓN EDUCATIVA</th>
											<td class="input-cell" colspan="10">
												<div class="inputboxfs">
													<input type="text" class="form-control" id="institucion_educativa2"
														name="institucion_educativa2">
												</div>
											</td>
										</tr>

										<tr>
											<th>SEMESTRES APROBADOS</th>
											<td class="input-cell" colspan="10">
												<div class="inputboxfs">
													<input type="number" class="form-control" id="semestres_aprobados"
														name="semestres_aprobados">
												</div>
											</td>
										</tr>
									</table>
								</div>


								<br><br><br>

								<div class="section">
									<div class="bubble-number h2 text-white">3</div>
									<div class="section-title h4 bubble text-white">INFORMACION PROGRAMA DE
										FORMACIÓN</div>
									<h6>Información relevante del programa de formación, para más información podrá
										contactar
										al coordinador ácademico</h6>
									<div class="section-content">
										<table class="data-table">

											<tr>
												<th>NOMBRE DEL PROGRAMA</th>
												<td class="input-cell" colspan="10">
													<div class="inputboxfs">
														<input type="text" class="form-control" id="nombre_programa"
															name="nombre_programa" required>
														</imput>
													</div>
												</td>
											</tr>

											<tr>
												<th>CÓDIGO DE LA FICHA</th>
												<td class="input-cell" colspan="10">
													<div class="inputboxfs">
														<input type="text" class="form-control" id="ficha" name="ficha"
															required>
													</div>
												</td>
											</tr>

											<tr>
												<th>PERFIL OCUPACIONAL</th>
												<td class="input-cell" colspan="7">
													<div class="inputboxfs">
														<input type="text" class="form-control" id="perfil"
															name="perfil" required>
													</div>
												</td>
											</tr>

											<tr>
												<th>OCUPACIONES A DESEMPEÑAR</th>
												<td class="input-cell" colspan="10">
													<div class="inputboxfs">
														<input type="text" class="form-control" id="ocupaciones"
															name="ocupaciones" required>
													</div>
												</td>
											</tr>

											<tr>
												<th>CENTRO DE FORMACIÓN</th>
												<td class="input-cell" colspan="10">
													<div class="inputboxfs">
														<input type="text" class="form-control" id="centro_formacion"
															name="centro_formacion" required>
													</div>
												</td>
											</tr>

											<tr>
												<th>CIUDAD DE FORMACIÓN</th>
												<td class="input-cell" colspan="10">
													<div class="inputboxfs">
														<input type="point" class="form-control" id="ciudad_formacion"
															name="ciudad_formacion" required>
													</div>
												</td>
											</tr>

											<tr>
												<th>FECHA DE INICIO</th>
												<td class="input-cell" colspan="10">
													<div class="inputboxfs">
														<input type="date" class="form-control" id="fecha_inicio"
															name="fecha_inicio" required>
													</div>
												</td>
											</tr>

											<tr>
												<th>FECHA DE TERMINACIÓN</th>
												<td class="input-cell" colspan="10">
													<div class="inputboxfs">
														<input type="date" class="form-control" id="fecha_final"
															name="fecha_final" required>
													</div>
												</td>
											</tr>

											<tr>
												<th>ETAPA</th>
												<td colspan="10">
													<select id="etapa" name="etapa"
														class="form-control-select inputboxfs opciones" required>
														<option value="">Seleccione una opción</option>
														<option value="1">Lectiva</option>
														<option value="2">Práctica</option>
													</select>
												</td>
											</tr>

											<tr>
												<th>COORDINADOR ACADÉMICO</th>
												<td colspan="10">
													<div class="inputboxfs">
														<input type="text" class="form-control"
															id="coordinador_academico" name="coordinador_academico"
															required>
													</div>
												</td>
											</tr>

											<tr>
												<th>TELÉFONO</th>
												<td colspan="10">
													<div class="inputboxfs">
														<input type="number" class="form-control"
															id="telefono_coordinador" name="telefono_coordinador"
															required>
													</div>
												</td>
											</tr>

											<tr>
												<th>CORREO ELECTRÓNICO</th>
												<td colspan="10">
													<div class="inputboxfs">
														<input type="email" class="form-control" id="email_coordinador"
															name="email_coordinador" required>
													</div>
												</td>
											</tr>

										</table>
									</div>

									<br><br>

									<div class="section">
										<div class="bubble-number h2 text-white">4</div>
										<div class="section-title h4 bubble text-white">FIRMA DEL APRENDÍZ</div>
										<div class="section-content">

											<table class="data-table">
												<tr>
													<td colspan="10">
														<p>
														<h6>Manifiesto bajo la gravedad de juramento que no me
															encuentro dentro
															de
															las
															causales de
															inhabilidad e incompatibilidad que contravengan el
															reglamento
															estudiantil o
															términos legales, para
															desarrollar la etapa práctica desempeñándome en una
															empresa a través
															del
															contrato de aprendizaje, para
															todos los efectos legales, certifico que los datos por
															mí anotados
															en el
															presente formato de hoja de
															vida, son veraces.</h6>
														</p>
													</td>
												</tr>

												<tr colspan="10">
													<th>Ciudad y Fecha de Diligenciamiento:</th>
													<td class="input-cell">
														<div class="inputboxfs">
															<input type="text" class="form-control"
																id="fecha_diligenciamiento"
																name="fecha_diligenciamiento" required>
														</div>
													</td>

													<th>FIRMA:</th>
													<td class="input-cell">
														<div class="inputboxfs">
															<input type="text" class="form-control" id="firma_aprendiz"
																name="firma_aprendiz">
														</div>
													</td>
												</tr>
											</table>
										</div>

										<br><br><br>

										<div class="section">
											<div class="bubble-number h2 text-white">5</div>
											<div class="section-title h4 bubble text-white">FIRMA FUNCIONARIO
												PROMOCIÓN Y
												RELACIONAMIENTO CORPORATIVO SENA</div>
											<h6>Información del funcionario encargado en el Centro de Formación.
												Contacte para
												la legalización del contrato de aprendizaje
											</h6>
											<div class="section-content">
												<table class="data-table">

													<tr>
														<th>NOMBRE FUNCIONARIO</th>
														<td colspan="10">
															<div class="inputboxfs">
																<input type="text" class="form-control" id="funcionario"
																	name="funcionario">
															</div>
														</td>
													</tr>

													<tr>
														<th>TELÉFONO</th>
														<td colspan="10">
															<div class="inputboxfs">
																<input type="number" class="form-control"
																	id="telefono_funcionario"
																	name="telefono_funcionario">
															</div>
														</td>
													</tr>

													<tr>
														<th>CORREO ELECTRÓNICO</th>
														<td colspan="10">
															<div class="inputboxfs">
																<input type="email" class="form-control"
																	id="email_funcionario" name="email_funcionario">
															</div>
														</td>
													</tr>
												</table>
											</div>


											<br><br><br>


											<div class="section">
												<div class="bubble-number h2 text-white">6</div>
												<div class="section-title h4 bubble text-white">INFORMACIÓN SERVICIO
													NACIONAL DE
													APRENDIZAJE</div>

												<div class="section-content">
													<table class="data-table">

														<tr>
															<th>NIT</th>
															<td colspan="7">
																<div class="inputboxfs">
																	<input type="text" class="form-control" id="nit"
																		name="nit">
																</div>
															</td>
														</tr>

														<tr>
															<th>CENTRO FORMACIÓN</th>
															<td colspan="7">
																<div class="inputboxfs">
																	<input type="text" class="form-control"
																		id="centro_formacion1" name="centro_formacion1">
																</div>
															</td>
														</tr>

														<tr>
															<th>REPRESENTANTE LEGAL</th>
															<td colspan="7">
																<div class="inputboxfs">
																	<input type="text" class="form-control"
																		id="representante_legal"
																		name="representante_legal">
																</div>
															</td>
														</tr>

														<tr>
															<th>CORREO ELECTRÓNICO</th>
															<td colspan="7">
																<div class="inputboxfs">
																	<input type="email" class="form-control"
																		id="email_representante"
																		name="email_representante">
																</div>
															</td>
														</tr>

														<tr>
															<th>TELÉFONO</th>
															<td colspan="7">
																<div class="inputboxfs">
																	<input type="number" class="form-control"
																		id="telefono_representante"
																		name="telefono_representante">
																</div>
															</td>
														</tr>
													</table>
												</div>

												<br><br><br>

												<div class="section">
													<div class="bubble-number h2 text-white">7</div>
													<div class="section-title h4 bubble text-white">OBSERVACIONES
														DEL JEFE DE
														RECURSOS
														HUMANOS Y/O CONTRATOS</div>
													<div class="section-content">
														<table class="data-table">

															<tr>
																<th>EMPRESA</th>
																<td colspan="10">
																	<div class="inputboxfs">
																		<input type="text" class="form-control"
																			id="empresa" name="empresa">
																	</div>
																</td>
															</tr>

															<tr>
																<th>TELEFONO</th>
																<td colspan="10">
																	<div class="inputboxfs">
																		<input type="number" class="form-control"
																			id="telefono_empresa"
																			name="telefono_empresa">
																	</div>
																</td>
															</tr>

															<tr>
																<th>FUNCIONARIO</th>
																<td colspan="10">
																	<div class="inputboxfs">
																		<input type="text" class="form-control"
																			id="funcionario_empresa"
																			name="funcionario_empresa">
																	</div>
																</td>
															</tr>

															<tr>
																<th colspan="10">OBSERVACIONES</th>
															</tr>

															<tr>
																<td colspan="10">
																	<textarea name="observaciones" id="observaciones"
																		rows="20"
																		style="width: 100%; border: transparent;"></textarea>
																</td>
															</tr>

															<tr>
																<th>Marque con una X la desicion de contratar al
																	aprendíz</th>

																<td>
																	<div>
																		Seleccionado
																	</div>
																</td>

																<td colspan="10">
																	<div>
																		No Seleccionado
																	</div>
																</td>
															</tr>

															<tr colspan="10">
																<th>Ciudad y Fecha de Diligenciamiento:</th>
																<td class="input-cell">
																	<div class="inputboxfs">
																		<input type="text" class="form-control"
																			id="fecha_diligenciamiento1"
																			name="fecha_diligenciamiento1">
																	</div>
																</td>

																<th>FIRMA:</th>
																<td class="input-cell">
																	<div class="inputboxfs">
																		<input type="text" class="form-control"
																			id="firma" name="firma">
																	</div>
																</td>
															</tr>

														</table>
													</div>


													<br>

													<h6>Solicitamos a la empresa imprimir y suministrar copia de
														este documento
														una vez
														realizada la evaluación del aprendíz que será remitida a la
														oficina de
														Relacionamiento
														Corporativo del Centro de Formación.
													</h6>

												</div>
											</div>
										</div>



										<br><br>


										<!-- SECCION DE IMPRIMIR-->

										<style>
											@media print {
												body {

													/* Elimina los márgenes del cuerpo */

													display: inline-block;
													/* Cambia el comportamiento de la columna para permitir cambios de ancho */
													margin-top: 12px;
													/* Ajusta el margen superior para todas las páginas */

												}

												/* Estilos para el formato de impresión */
												.row {
													width: 172%;
													/* Ajusta el ancho de la fila */

												}

												.container {
													width: 100%;

												}

												@page {

													/* Elimina los márgenes predeterminados de la página al imprimir */
													page-break-before: always;
													margin-top: 12px;
													/* Ajusta el margen superior para todas las páginas */

												}

												br {
													display: none;
													/* Oculta los elementos <br> al imprimir */
												}
											}
										</style>

										<div class="row">
											<div class="col-md-2 offset-md-8">
												<button type="button" class="btn btn-danger"
													onclick="imprimir()">Descargar
													<i class="bi bi-filetype-pdf"></i></button>
												<script>
													function imprimir() {
														window.print();
													}
												</script>
											</div>

											<div class="col-md-2" id="guardarFS">
												<button type="submit" class="btn btn-info">Guardar
													<i class=" bi bi-save"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</main><!-- End #main -->

	<!-- ======= Hero Section ======= -->
	<section>
	</section><!-- End Hero Section -->


	<!-- ======= Footer ======= -->
	<div th:fragment="footer">

		<footer id="footer" class="footer">

			<div class="container">
				<div class="row gy-3">
					<div class="col-lg-3 col-md-6 d-flex">
						<i class="bi bi-geo-alt icon"></i>
						<div>
							<h4>Dirección</h4>
							<p>
								SENA Centro Industrial de Mantenimiento y Manufactura<br>
								Duitama - Boyacá<br>
							</p>
						</div>

					</div>

					<div class="col-lg-3 col-md-6 footer-links d-flex">
						<i class="bi bi-telephone icon"></i>
						<div>
							<h4>Contacto</h4>
							<p>
								<strong>Telefono:</strong> +57 3124836422<br>
								<strong>Email:</strong> OktoDesigns@gmail.com<br>
							</p>
						</div>
					</div>

					<div class="col-lg-3 col-md-6 footer-links d-flex">
						<i class="bi bi-clock icon"></i>
						<div>
							<h4>Horario de Atención</h4>
							<p>
								<strong>Lunes a Viernes: 7AM</strong> - 11AM<br>
								Sabados - Domingos: Cerrado
							</p>
						</div>
					</div>

					<div class="col-lg-3 col-md-6 footer-links">
						<h4>Siguenos</h4>
						<div class="social-links d-flex">
							<a href="#" class="twitter"><i class="bi bi-github"></i></a>
							<a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
							<a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
							<a href="#" class="linkedin"><i class="bi bi-whatsapp"></i></a>
						</div>
					</div>

				</div>
			</div>

			<div class="container">
				<div class="copyright">
					&copy; Copyright <strong><span>Yummy</span></strong>. All Rights Reserved
				</div>
				<div class="credits">
					<!-- All the links in the footer should remain intact. -->
					<!-- You can delete the links only if you purchased the pro version. -->
					<!-- Licensing information: https://bootstrapmade.com/license/ -->
					<!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/yummy-bootstrap-restaurant-website-template/ -->
					Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
				</div>
			</div>

		</footer><!-- End Footer -->
		<!-- End Footer -->
	</div>
	<!-- End Footer -->

	<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
			class="bi bi-arrow-up-short"></i></a>

	<div id="preloader"></div>
	<div th:fragment="scripts_js">
		<!-- Vendor JS Files -->
		<script th:src="@{/assetsADMIN/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
		<script th:src="@{/assetsADMIN/vendor/aos/aos.js}"></script>
		<script th:src="@{/assetsADMIN/vendor/glightbox/js/glightbox.min.js}"></script>
		<script th:src="@{/assetsADMIN/vendor/purecounter/purecounter_vanilla.js}"></script>
		<script th:src="@{/assetsADMIN/vendor/swiper/swiper-bundle.min.js}"></script>
		<script th:src="@{/assetsADMIN/vendor/php-email-form/validate.js}"></script>

		<!-- Template Main JS File -->
		<script th:src="@{/assetsADMIN/js/main.js}"></script>

</body>

</html>