<!DOCTYPE html>
<html lang="en" xmlsn:th="http://thymeLeaf.org">

<head th:insert="~{administrador/template_admin.html::head}"></head>

<body>

  <div th:insert="~{administrador/template_admin.html::header}"></div>

  <main id="main" class="main">



  </main><!-- End #main -->

  <div th:insert="~{administrador/template_admin.html::footer}"></div>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div th:insert="~{administrador/template_admin.html::scripts_js}"></div>

</body>

</html>