<!DOCTYPE html>
<html lang="en" xmlsn:th="http://thymeLeaf.org">

<head th:insert="~{administrador/template_admin.html::head}"></head>
<script src="https://buy.stripe.com/test_7sI2aqaOO0pygXC000"></script>
<script src="https://cdn.botpress.cloud/webchat/v2/inject.js"></script>
<script src="https://mediafiles.botpress.cloud/a8ef7b89-d65f-48c1-ac21-097a9a9fbe2a/webchat/v2/config.js"></script>

<body>

	<div th:insert="~{administrador/template_admin.html::header}"></div>

	<main id="mainAdmin" class="main">

		<!-- Inicio Section -->
		<section class="welcome">
			<div class="overlay">
				<h1>CATEGORIAS</h1>
				<h3>Selecciona tu plantilla favorita para editar</h3>
				<br>
				<script async src="https://js.stripe.com/v3/buy-button.js">
				</script>
				<a th:href="@{/administrador}">
					<stripe-buy-button buy-button-id="buy_btn_1PSdwYH989qx2v1okQl83edS"
						publishable-key="pk_test_51PSdQsH989qx2v1oTdPuXXP2Lfz6nyXNduhbAfWHds4YJzVT7CEMTYDOYQn7K49VNAqfVCtv5rXoz7qRAKjVjl9200fxKcv2Gr">
					</stripe-buy-button>
				</a>
				<h3>Recuerda que nuestros formatos son de paga, el único de uso gratuito es el formato SENA</h3>
				<h4>Puedes comprar los formatos en general a través del botón de compra</h4>
			</div>
		</section>

		<!-- ======= Menu Section ======= -->
		<section id="menu" class="menu">
			<div class="container" data-aos="fade-up">

				<ul class="nav nav-tabs sectionXA" data-aos="fade-up" data-aos-delay="200">

					<li class="nav-item">
						<a class="nav-link active show " data-bs-toggle="tab" data-bs-target="#menu-starters">
							<h4>Hojas de Vida</h4>
						</a>
					</li><!-- End tab nav item -->

					<li class="nav-item">
						<a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-breakfast">
							<h4>Cartas de referencia</h4>
						</a><!-- End tab nav item -->

					<li class="nav-item">
						<a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-lunch">
							<h4>Invitaciones</h4>
						</a>
					</li><!-- End tab nav item -->

				</ul>

				<div class="tab-content d-flex justify-content-center" data-aos="fade-up" data-aos-delay="300">

					<div class="tab-pane fade active show templates-container" id="menu-starters">

						<div class="tab-header text-center">
							<p>PLANTILLAS</p>
							<h3>Hojas de Vida</h3>
						</div>
						<div class="d-flex">
							<div class="card-container">
								<a th:href="@{/administrador/formato}">
									<div class="card">
										<div class="content">
											<div class="card-titleF">
												<h6>Formato Estandar</h6>
											</div>
											<div class="back" th:href="@{/administrador/formato}">
												<div class="back-content">
													<svg stroke="#ffffff"></svg>
													<i class="bi bi-file-earmark-person"></i>
													<strong>Deslizame</strong>
												</div>
											</div>
											<div class="front">
												<img th:src="@{assets/img/formatosHV/imgFE.png}"
													alt="Imagen en el reverso de la tarjeta">
											</div>
										</div>
									</div>
								</a>
							</div>

							<div class="card-container">
								<a th:href="@{/administrador/formatoSena}">
									<div class="card">
										<div class="content">
											<div class="card-titleFS">
												<h6>Formato SENA</h6>
											</div>
											<div class="back">
												<div class="back-content">
													<svg stroke="#ffffff"></svg>
													<i class="bi bi-file-earmark-ruled"></i>
													<strong>Deslizame</strong>
												</div>
											</div>
											<div class="front">
												<img th:src="@{assets/img/formatosHV/imgFS.png}"
													alt="Imagen en el reverso de la tarjeta">
											</div>
										</div>
									</div>
								</a>
							</div>
						</div>
					</div><!-- End Starter Menu Content -->

					<div class="tab-pane fade templates-container" id="menu-breakfast">

						<div class="tab-header text-center">
							<p>PLANTILLAS</p>
							<h3>Cartas de Referencia</h3>
						</div>
						<div class="d-flex">
							<div class="card-container">
								<a th:href="@{/administrador/cartaRefPersonal}">
									<div class="card">
										<div class="content">
											<div class="card-Letters-TitleR">
												<h6>Referencia Personal</h6>
											</div>
											<div class="back" th:href="@{/administrador/formato}">
												<div class="back-content">
													<svg stroke="#ffffff"></svg>
													<i class="bi bi-file-earmark-text"></i>
													<strong>Deslizame</strong>
												</div>
											</div>
											<div class="front">
												<img th:src="@{assets/img/cartas/refPersonal1.png}"
													alt="Imagen en el reverso de la tarjeta">
											</div>
										</div>
									</div>
								</a>
							</div>

							<div class="card-container">
								<a th:href="@{/administrador/cartaRenuncia}">
									<div class="card">
										<div class="content">
											<div class="card-Letters-TitleRe">
												<h6>Carta de Renuncia</h6>
											</div>
											<div class="back">
												<div class="back-content">
													<svg stroke="#ffffff"></svg>
													<i class="bi bi-file-earmark-x"></i>
													<strong>Deslizame</strong>
												</div>
											</div>
											<div class="front">
												<img th:src="@{assets/img/cartas/renunceCart.png}"
													alt="Imagen en el reverso de la tarjeta">
											</div>
										</div>
									</div>
								</a>
							</div>
						</div>
					</div><!-- End Lunch Menu Content -->

					<div class="tab-pane fade templates-container" id="menu-lunch">

						<div class="tab-header text-center">
							<p>PLANTILLAS</p>
							<h3>Invitaciones</h3>
						</div>

						<div class="d-flex">
							<div class="card-container">
								<a th:href="@{/administrador/formato}">
									<div class="card">
										<div class="content">
											<div class="card-Invitation-Title">
												<h6>Invitacion</h6>
											</div>
											<div class="back" th:href="@{/administrador/formato}">
												<div class="back-content">
													<svg stroke="#ffffff"></svg>
													<i class="bi bi-envelope-paper"></i>
													<strong>Deslizame</strong>
												</div>
											</div>
											<div class="front">
												<img th:src="@{assets/img/formatosHV/imgFE.png}"
													alt="Imagen en el reverso de la tarjeta">
											</div>
										</div>
									</div>
								</a>
							</div>

							<div class="card-container">
								<a th:href="@{/administrador/formatoSena}">
									<div class="card">
										<div class="content">
											<div class="card-titleFS">
												<h6>Formato SENA</h6>
											</div>
											<div class="back">
												<div class="back-content">
													<svg stroke="#ffffff"></svg>
													<i class="bi bi-envelope-paper"></i>
													<strong>Deslizame</strong>
												</div>
											</div>
											<div class="front">
												<img th:src="@{assets/img/formatosHV/imgFS.png}"
													alt="Imagen en el reverso de la tarjeta">
											</div>
										</div>
									</div>
								</a>
							</div>
						</div>

					</div><!-- End Lunch Menu Content -->

				</div>

			</div>
		</section><!-- End Menu Section -->

		<!-- Formats Saves Section  -->

		<!-- Inicio Section -->
		<section class="save">
			<div class="overlay">
				<h1>GUARDADOS</h1>
				<h3>Formatos Guardados</h3>
			</div>
		</section>

		<!-- ======= Menu Section ======= -->
		<section id="menu" class="menu">
			<div class="container" data-aos="fade-up">

				<ul class="nav nav-tabs sectionXA" data-aos="fade-up" data-aos-delay="200">

					<li class="nav-item">
						<a class="nav-link active show " data-bs-toggle="tab" data-bs-target="#menu-startersSave">
							<h4>Hojas de Vida</h4>
						</a>
					</li><!-- End tab nav item -->

					<li class="nav-item">
						<a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-breakfastSave">
							<h4>Cartas de referencia</h4>
						</a><!-- End tab nav item -->

					<li class="nav-item">
						<a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-lunchSave">
							<h4>Invitaciones</h4>
						</a>
					</li><!-- End tab nav item -->

				</ul>

				<div class="tab-content d-flex justify-content-center" data-aos="fade-up" data-aos-delay="300">

					<div class="tab-pane fade active show templates-container" id="menu-startersSave">

						<div class="tab-header text-center">
							<p>GUARDADOS</p>
							<h3>Hojas de Vida</h3>
						</div>

						<div id="containerSave1" class="container" usuario="<?php echo $usuario; ?>">

						</div>

					</div><!-- End Starter Menu Content -->

					<div class="tab-pane fade templates-container" id="menu-breakfastSave">

						<div class="tab-header text-center">
							<p>GUARDADOS</p>
							<h3>Cartas de Referencia</h3>
						</div>


						<div id="containerSave2" class="container" usuario="<?php echo $usuario; ?>">

						</div>

					</div><!-- End Lunch Menu Content -->

					<div class="tab-pane fade templates-container" id="menu-lunchSave">

						<div class="tab-header text-center">
							<p>GUARDADOS</p>
							<h3>Invitaciones</h3>
						</div>

						<div id="containerSave3" class="container" usuario="<?php echo $usuario; ?>">

						</div>

					</div><!-- End Lunch Menu Content -->

				</div>

			</div>
		</section><!-- End Menu Section -->


	</main><!-- End #main -->

	<div th:insert="~{administrador/template_admin.html::footer}"></div>

	<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
			class="bi bi-arrow-up-short"></i></a>

	<div th:insert="~{administrador/template_admin.html::scripts_js}"></div>

</body>

</html>