<!DOCTYPE html>
<html lang="en" xmlsn:th="http://thymeLeaf.org">

<head th:insert="~{administrador/template_admin.html::head}"></head>

<div th:insert="~{administrador/template_admin.html::header}"></div>

<body>
	<main id="main" class="main" style="display: flex; justify-content: center;">

		<div class="profileContainer mt-5">
	 	<div id="mensaje" class="alert" style="display:none;"></div> <!-- Contenedor de mensaje -->
			<form class="profileForm" id="nombreForm" th:action="@{/cambiar-nombre}" method="post">
				<h2>Cambiar Nombre de Usuario</h2>
				<div class="input-group">
					<label for="account-name">Nuevo Nombre de Usuario</label>
					<input type="text" id="nuevoNombre" name="nuevoNombre" placeholder="Nuevo nombre" required>
				</div>
				<input type="hidden" id="id" name="id" value="1"> <!-- Asegúrate de establecer el ID del usuario -->
				<button type="submit" class="btn btn-success">Guardar <i class="bi bi-floppy2"></i></button>
				<div id="mensaje" style="display: none;"></div>
			</form>
			<hr>

		<form action="/cambiar-contrasena" method="post" id="passwordForm" class="mb-2 profileForm">
			<div id="mensaje" class="alert" style="display:none;"></div>
			<h2>Actualizar contraseña</h2>
		    <div class="input-group">
		        <label for="currentPassword">Contraseña Actual:</label>
		        <input type="password" id="currentPassword" name="currentPassword" required placeholder="Ingresar Contraseña Actual">
		    </div>
		    <div class="input-group">
		        <label for="newPassword">Nueva Contraseña:</label>
		        <input type="password" id="newPassword" name="newPassword" required placeholder="Ingrese su Nueva Contraseña">
		    </div>
		    <div class="input-group">
		        <label for="confirmPassword">Confirmar Nueva Contraseña:</label>
		        <input type="password" id="confirmPassword" name="confirmPassword" required placeholder="Confirma la Contraseña Antigua">
		    </div>
		    <button type="submit" class="btn btn-success">Guardar <i class="bi bi-floppy2"></i></button>
		</form>
		<span>Puedes <a th:href="@{/logout}" class="text-danger">Cerrar Sesion</a> para continuar</span>
		</div>

	</main><!-- End #main -->

	<div th:insert="~{administrador/template_admin.html::footer}"></div>

	<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
			class="bi bi-arrow-up-short"></i></a>

	<div th:insert="~{administrador/template_admin.html::scripts_js}"></div>

</body>

</html>