
.nombre-containerf {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .inputboxf {
    margin: 5px 0;
    position: relative;
    width: 300px;
    border-bottom: 1px solid #000000;
  }
  
  .inputboxf label {
    position: absolute;
    top: 0;
    left: 5px;
    color: #000000;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
  }
  
  input:focus ~ label,
  input:valid ~ label {
    top: -15px;
  }
  
  .inputboxf input {
    width: 100%;
    height: 30px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 5px;
    color: #000000;
  }
  
  .inputboxf ion-icon {
    position: absolute;
    right: 1px;
    color: #000000;
    font-size: 1.2em;
    top: 20px;
  }
  


  .inputboxf {
    width: 280px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}
bodyf {
	background: #E5E7E9;
}
.containerf {
	background: #f5f5f5;
	max-width: 800px;
	margin: 60px auto;
	height: auto;
	padding: 20px;
	box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
}
.headerf {
	text-align: center;
}
.headerf h1 {
	margin-bottom: 10px;
}
.headerf h3 {
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 500;
}

.left {
	flex: 1;
	padding: 30px;
}
.left p {
	line-height: 2;
}
.left ul li {
	line-height: 2;
}
.marcoh2 {
	background: #000000;
	padding: 15px;
	color: #fff;
	margin: 30px 0;
	font-size: 20px;
	border-radius: 0 50px 50px 0;
} 
.right {
	flex: 1;
	padding: 30px;
}
.right h3 {
	margin-bottom: 15px;
}
.right p {
	line-height: 2.9;
}
.right ul li {
	line-height: 2;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.containerf {
		width: 95%;
		height: auto;
	}
	h2f {
		font-size: 18px;
	}
}
@media screen and (max-width: 600px) {
	.mainf {
		flex-direction: column;
	}
	.left, .right {
		flex: none;
		width: 100%;
	}
	.containerf {
		width: 95%;
		height: auto;
	}
	h2f {
		font-size: 15px;
	}
}